<header>
  <div class="title">
    <a href="/">gymDRP</a>
  </div>
  <ul class="navlist">
    <li><a href="/calendar">Calendar</a></li>
    <li><a href="/explorer">Explorer</a></li>
  </ul>
</header>
